C:/Users/Jerson/Downloads/quarto/CPP3_Apaza_Cabezas_Ponce_Ruiz/.Rproj.user/shared/notebooks/A98D0427-CPP3_Apaza_Cabezas_Ponce_Ruiz/1/s/ckhfubrc2tl62_t